.bar-container {
  background-color: black;
}

.bar-label {
  color: white;
  text-align: right;
  text-transform: lowercase;
}

// TITLE STYLES

.bar-container.title {
  margin: 30px auto;
  width: 33%;
}

.bar-label.title {
  text-align: center;
}

// CAPTION STYLES

.bar-container.caption {
  position: relative;
  bottom: 30vh;
  font-size: 1.2em;
}

.bar-label.caption {
  position: relative;
  right:20%;
}

.hidden {
  visibility: hidden;
}

.bar-container.scene {
  position: absolute;
  bottom: 20vh;
  font-size: 1.2em;
  z-index: 30;
  width: 100%
}

.bar-label.scene {
  position: relative;
  right: 20%;
  z-index: 30;
}