.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: 10px;
}

.card-image {
  border-radius: 50%;
  object-fit: cover;
  width: 300px;
  height: 300px;
}

.card-screen {
  border-radius: 50%;
  z-index: 10;
  width: 300px;
  height: 300px;
  position: absolute;
  opacity: 80%;
  content: '';
  background-color: antiquewhite;
}

.hidden {
  visibility: hidden;
}

.trimmed {
  max-height: 300px;
}

.card-label {
  text-align: center
}