@import "card.scss";

$body-background: #fafafa;
$body-color: #444;

body, html {
  height: 100%
}

body {
  background: $body-background;
  color: $body-color;
  font-family: sans-serif;
}

h1, nav, footer {
  text-align: center;
}

main {
  margin: 4rem auto;
  max-width: 60rem;
}

nav {
  background-color: lightpink;
}

.showroom-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.landing {
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%
}

.card-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}