@import "card.scss";
@import "bar.scss";
@import "board.scss";
@import "footer.scss";

$body-background: black;
$body-color: #444;

body, html {
  height: 100%
}

body {
  background: $body-background;
  color: $body-color;
  font-family: sans-serif;
  margin: 0px;
}

h1, nav {
  text-align: center;
}

main {
  max-width: 60rem;
}

nav {
  background-color: lightpink;
}

// LANDING PAGE STYLES

.landing {
  height: 100%;
  background-color: antiquewhite;
}

.landing-screen {
  position: absolute;
  background-position: center center;
  content: '';
  height: 100%;
  width: 100%;
  transition: all .3s ease-in-out;
}

.blurred {
  filter: blur(15px);
  -webkit-filter: blur(15px);
  opacity: 25%;
}

.landing-image {
  height: 100%;
  background-image: url('/images/main-meadow.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.landing-info-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  position: relative;
  margin-right: 35vw;
  margin-left: 3vw;
}

.site-title {
  font-size: 5vw;
  margin: 16px;
  white-space: nowrap;
}

// SHOWROOM PAGE STYLES

.showroom-img {
  width: 100%;
  height: 110vh;
  object-fit: cover;
}

.showroom-wrapper {
  height: 110vh;
}