.card-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.tray-link {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  text-transform: lowercase;
}

.tray-screen {
  position: absolute;
  background-position: center center;
  content: '';
  height: 100%;
  width: 100%;
  transition: all .3s ease-in-out;
}

.tray-img {
  width: 100%;
  height: 110vh;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all .3s ease-in-out;
}

.tray-img.default {
  background-image: url('/images/second-meadow.jpeg');
}

.tray-img.beargrass {
  background-image: url('/images/beargrass-opening.jpeg');
}

.tray-info-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.tray-wrapper {
  height: 110vh;
}