<div class="landing">

  <div class="landing-screen blurred" id="screen">
    <div class="landing-image"></div>
  </div>

  <div class="landing-info-wrapper">
    <div class="landing-card-wrapper" onmouseenter="landingCardBlur()" onmouseleave="backgroundBlur()">
      <%= render Card.new('landing-image', 'beargrass-ball.jpg', 'the signpost at paradise park') %>
    </div>
    <h1 class="site-title"><%= @title %></h1>
  </div>

</div>

<script type="text/javascript">
  function landingCardBlur() {
    const screen = document.querySelector('#screen')
    screen.classList.remove('blurred')
    const cardScreen = document.querySelector('.card-screen')
    cardScreen.classList.remove('hidden')
    const siteTitle= document.querySelector('.site-title')
    siteTitle.classList.add('hidden')
  }

  function backgroundBlur() {
    const screen = document.querySelector('#screen')
    screen.classList.add('blurred')
    const cardScreen = document.querySelector('.card-screen')
    cardScreen.classList.add('hidden')
    const siteTitle= document.querySelector('.site-title')
    siteTitle.classList.remove('hidden')
  }
</script>