<div>
  <div class="card-section">
    <%# render Bar.new(@category) %>
    <%= render Card.new('beargrass-opening.jpeg', 'Beargrass', 'flowering beargrass in early bloom') %>
    <%= render Card.new('beargrass-opening.jpeg', 'Beargrass', 'flowering beargrass in early bloom') %>
    <%= render Card.new('beargrass-opening.jpeg', 'Beargrass', 'flowering beargrass in early bloom') %>
  </div>
</div>